<div id="loginbox">
  <form id="loginform" class="form-vertical" [formGroup]="loginForm">
    <div class="control-group normal_text">
      <h3><img src="https://wrappixel.com/demos/free-admin-templates/matrix-admin-bt4/assets/images/logo-text.png"
          alt="Logo" /></h3>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Username"
            formControlName="userName" (keyup.enter)="login()" />
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" autocomplete="off"
            placeholder="Password" formControlName="passWorld" (keyup.enter)="login()" />
        </div>
      </div>
    </div>
    <div class="control-group" *ngIf="check">
      <div class="controls">
        <div class="main_input_box">
          <span class="btnLogin">User Name or Pass Word incorrect</span>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="center"><a type="submit" class="btn btn-success btnLogin" (click)="login()"> Login</a></span>
    </div>
  </form>
</div>
<app-spinner></app-spinner>
