<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a routerLink="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
        Home</a> <a routerLink="/admin/exams/getAllExamByCateId/1" title="Go to Home" class="tip-bottom">Exams</a><a
        class="current">Exam Detail</a> </div>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Exams Detail</h5>
          </div>
          <div class="widget-content nopadding" *ngIf="size !== 0">
            <ul class="recent-posts">
              <li *ngFor="let question of examDetail">
                <div class="article-post">
                  <div class="fr"><a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"
                      class="btn btn-danger btn-mini">Delete</a></div>
                  <span class="user-info"> {{question.content}} </span>
                  <ul>
                    <li *ngFor="let answer of question.answerList"><span
                        class="user-info">{{question.answerList.indexOf(answer)+1}}. </span>{{answer.content}}
                      <span class="date badge badge-success" *ngIf="answer.correct">true</span>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a [routerLink]="'/admin/questions/create'"><button class="btn btn-success">Add question</button></a>
              </li>
            </ul>
          </div>
          <div class="widget-content nopadding" *ngIf="size === 0">
            <ul class="recent-posts">
              <li>
                No content
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<!--main-container-part-->
<app-spinner></app-spinner>
